.basicButton {
  height: 100%;

  &__button {
    height: 100%;
    border: none;
    background: white;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.5s ease-in-out,
              background-color 0.5s ease-in-out;

    &:hover {
      color: white;
      background-color: black;
    }

    &:disabled {
      color: black;
      background-color: white;
    }
  }

};