.mainScreen {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    min-height: 400px;
    background: darkgray;
    color: white;
    border-radius: 10px;
    padding: 10px;


    &__hiddenBlock {

    }

    &__item {
      box-sizing: border-box;
      width: 100%;
      padding: 20px 10px;
      border: 1px solid #f1f4eb;
      cursor: pointer;
      transition:
              opacity 0.5s ease-in-out,
              background-color 0.5s ease-in-out,
              color 0.5s ease-in-out;
      border-radius: 3px;

      &:hover {
        opacity: 0.7;
        background: white;
        color: black;
      }
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: black;
      }
    }

    &__rules {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      font-size: 14px ;
      line-height: 20px;

      span {
        margin-bottom: 10px;
      }
    }
  }
}